[submodule "deps/vulkan-zig"]
	path = deps/vulkan-zig
	url = https://github.com/ashpil/vulkan-zig.git
[submodule "deps/glfw"]
	path = deps/glfw
	url = https://github.com/glfw/glfw.git
[submodule "deps/tinyexr"]
	path = deps/tinyexr
	url = https://github.com/syoyo/tinyexr.git
[submodule "deps/zgltf"]
	path = deps/zgltf
	url = https://github.com/kooparse/zgltf.git
[submodule "deps/zigimg"]
	path = deps/zigimg
	url = https://github.com/zigimg/zigimg.git
[submodule "deps/cimgui"]
	path = deps/cimgui
	url = https://github.com/cimgui/cimgui.git
