name: Build

on:
  push:
    branches: [ trunk ]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout repo & submodules
      uses: actions/checkout@v2
      with:
        submodules: recursive

    - name: Install system dependencies
      run: |
        sudo apt update
        sudo apt install wayland-protocols libwayland-dev libxkbcommon-dev # Wayland
        sudo apt install libxcursor-dev libxrandr-dev libxinerama-dev libxi-dev # X11

    - name: Install dxc
      run: |
        wget -q "https://ci.appveyor.com/api/projects/dnovillo/directxshadercompiler/artifacts/build%2Fdxc-artifacts.tar.gz?branch=main&pr=false&job=image%3A%20Ubuntu" -O dxc-artifacts.tar.gz 
        tar xvf dxc-artifacts.tar.gz
        echo "$(pwd)/dxc-artifacts/bin/" >> $GITHUB_PATH

    - name: Setup Zig
      uses: goto-bus-stop/setup-zig@v2
      with:
        version: 0.12.0-dev.1571+03adafd80

    - name: Type check
      run: zig build check

